<div class="content">
  <ul #piano class="set">
    <li data-key="C"  data-octave="3" class="key white c"></li>
    <li data-key="C#" data-octave="3" class="key black cs"></li>
    <li data-key="D"  data-octave="3" class="key white d"></li>
    <li data-key="D#" data-octave="3" class="key black ds"></li>
    <li data-key="E"  data-octave="3" class="key white e"></li>
    <li data-key="F"  data-octave="3" class="key white f"></li>
    <li data-key="F#" data-octave="3" class="key black fs"></li>
    <li data-key="G"  data-octave="3" class="key white g"></li>
    <li data-key="G#" data-octave="3" class="key black gs"></li>
    <li data-key="A"  data-octave="3" class="key white a"></li>
    <li data-key="A#" data-octave="3" class="key black as"></li>
    <li data-key="B"  data-octave="3" class="key white b"></li> 
    <li data-key="C"  data-octave="4" class="key white c"></li>
    <li data-key="C#" data-octave="4" class="key black cs"></li>
    <li data-key="D"  data-octave="4" class="key white d"></li>
    <li data-key="D#" data-octave="4" class="key black ds"></li>
    <li data-key="E"  data-octave="4" class="key white e"></li>
    <li data-key="F"  data-octave="4" class="key white f"></li>
    <li data-key="F#" data-octave="4" class="key black fs"></li>
    <li data-key="G"  data-octave="4" class="key white g"></li>
    <li data-key="G#" data-octave="4" class="key black gs"></li>
    <li data-key="A"  data-octave="4" class="key white a"></li>
    <li data-key="A#" data-octave="4" class="key black as"></li>
    <li data-key="B"  data-octave="4" class="key white b"></li>  
  </ul>
</div>

